@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "DatabaseError";
}


<h1>Database Error</h1>
<h1 class="text-danger">資料庫錯誤。</h1>
<h2 class="text-danger">處理您的要求時發生錯誤。</h2>
<pre>
Controller: @Model.ControllerName
Action: @Model.ActionName
</pre>

<pre>
@Model.Exception.ToString()
</pre>


